gensim
nltk
transformers
scikit-learn
PyPDF2
langchain
pypdf
sentence-transformers
faiss-cpu
accelerate
safetensors
protobuf
cuda-python
torch==2.1.1+cu118 torchvision==0.16.1+cu118 torchaudio==2.1.1+cu118 -f https://download.pytorch.org/whl/cu118/torch_stable.html
umap-learn
joblib
pandas
