gensim==4.0.1
nltk==3.5
transformers==4.5.1
scikit-learn==0.24.1
torch==1.8.1
PyPDF2
langchain
pypdf
sentence-transformers
faiss-cpu
request
accelerate
safetensors
protobuf
cuda-python
torch==2.1.1+cu118
torchvision==0.16.1+cu118
torchaudio==2.1.1+cu118
umap-learn
hdbscan
